{% extends "layouts/base.html.twig" %}

{% block content %}
    <h1>Dashboard</h1>
    <hr />

    <div class="bank-account-container">
    {% for account in monetaryAccounts %}
        <div class="bank-account">
            <img width="40" src="/attachment/{{ account.avatar.image[0].attachmentPublicUuid }}" />
            <div class="summary">
                <h2>{{ account.getDescription }}</h2>
                <h3>€ {{ account.getBalance().getValue() }}</h3>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock content %}

