{% extends "layouts/base.html.twig" %}

{% block content %}
    <h2>Overview page</h2>

    Here is a list of your accounts!

    <ul>
    {% for account in users %}
        {% if account.getUserCompany %}
            <li>Company: {{ account.getUserCompany.getDisplayname }}</li>
        {% endif %}

        {% if account.getUserPerson %}
            <li>Company: {{ account.getUserPerson.getDisplayname }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock content %}

