{% extends "layouts/base.html.twig" %}

{% block content %}
    <h1>Login page</h1>
    <hr />

    Please select an account to login with.

    {% for user in users %}
        <form method="post" class="login-container">
            <img width="100" src="/attachment/{{ user.getPublicAttachmentUUID }}" />

            <input type="hidden" name="id" value="{{ user.getId() }}">
            <input type="hidden" name="type" value="{{ user.getType() }}">
            <button type="submit" class="login-button">Login as {{ user.getDisplayname() }}</button>
        </form>
    {% endfor %}

{% endblock content %}

