.login-button {
  padding:10px;
  border-radius: 23px;
  border: 1px solid #7b7b7b;
  background: white;
  margin:5px;
  width: 100%;

  &:hover {
    background-color: #7b7b7b;
    color: #fff;
  }

}